[h1]{{ bb(data.title) }}[/h1]

{% if data.season_label != '-' %}[h2]{{ bb(data.season_label) }}[/h2]

{% endif %}
{% if data.heading_subtitle != '-' %}[h2]{{ bb(data.heading_subtitle) }}[/h2]

{% endif %}
{% if data.season_episode_range != '-' %}[h3]{{ bb(data.season_episode_range) }}[/h3]

{% endif %}
{% if data.season_label == '-' and data.heading_subtitle == '-' and data.season_episode_range == '-' and data.year != '-' %}[h2]{{ bb(data.year) }}[/h2]

{% endif %}
{% if data.poster_url != '-' %}
[center][img]{{ bb(data.poster_url) }}[/img][/center]
{% endif %}
{% if data.banner_information %}{{ bbcode_banner(data.banner_information) }}{% else %}[size=16][b]{{ tr("prez.section.infos", default='Information') }}[/b][/size]{% endif %}

{% for field in data.info_fields %}[b]{{ field.label }} :[/b] {{ field_url_bbcode(field) }}
{% endfor %}
{% if data.overview != '-' %}
[hr]

{% if data.banner_synopsis %}{{ bbcode_banner(data.banner_synopsis) }}{% else %}[size=16][b]{{ tr("prez.section.synopsis", default='Synopsis') }}[/b][/size]{% endif %}

{{ bb(data.overview) }}
{% endif %}
{% if data.has_metadata_section %}
[hr]

{% if data.banner_metadata %}{{ bbcode_banner(data.banner_metadata) }}{% else %}[size=16][b]{{ tr("prez.section.metadata", default='Metadata') }}[/b][/size]{% endif %}

{% for field in data.metadata_fields %}[b]{{ field.label }} :[/b] {{ field_url_bbcode(field) }}
{% endfor %}{% if data.cast != '-' %}[b]{{ tr('prez.label.cast', default='Cast') }} :[/b] {{ bb(data.cast) }}
{% endif %}{% if data.crew != '-' %}[b]{{ tr('prez.label.crew', default='Crew') }} :[/b] {{ bb(data.crew) }}
{% endif %}{% endif %}
[hr]

{% if data.banner_release %}{{ bbcode_banner(data.banner_release) }}{% else %}[size=16][b]{{ tr("prez.section.release", default='Release') }}[/b][/size]{% endif %}

{% for field in data.release_fields %}[b]{{ field.label }} :[/b] {{ field_url_bbcode(field) }}
{% endfor %}
[hr]

{% if data.banner_technical %}{{ bbcode_banner(data.banner_technical) }}{% else %}[size=16][b]{{ tr("prez.section.technical", default='Technical information') }}[/b][/size]{% endif %}

{{ bb(data.technical_summary) }}

[size=14][b]{{ tr('prez.section.video', default='Video') }}[/b][/size]
{% for field in data.video_fields %}[b]{{ field.label }} :[/b] {{ field_url_bbcode(field) }}
{% endfor %}

{% if data.banner_audio %}{{ bbcode_banner(data.banner_audio) }}{% else %}[size=14][b]{{ tr("prez.section.audio", default='Audio') }}[/b][/size]{% endif %}

{{ audio_table_bbcode(data.audio_tracks) }}

{% if data.banner_subtitles %}{{ bbcode_banner(data.banner_subtitles) }}{% else %}[size=14][b]{{ tr("prez.section.subtitles", default='Subtitles') }}[/b][/size]{% endif %}

{{ subtitle_table_bbcode(data.subtitle_tracks) }}
{{ bbcode_banner(data.banner_mediainfo) }}{{ mediainfo_spoiler(data.mediainfo_text) }}
