{% import "_macros.jinja2" as ui %}

{% if logo_text %}
{{ logo_text }}

{% endif %}

{{ ui.section("GENERAL") }}

{{ ui.line("Title", release.title_display) }}
{{ ui.line("Year", release.year) }}
{{ ui.line("Team", release.team) }}
{{ ui.line("Source", release.source) }}
{{ ui.line("Resolution", release.resolution) }}
{{ ui.line("Video", release.video_tag) }}
{{ ui.line("Audio", release.audio_tag) }}
{{ ui.line("Language", release.language_tag) }}
{{ ui.line("Audio Languages", release.audio_languages_display) }}
{{ ui.line("HDR", release.hdr_display) }}
{{ ui.line("Full Name", release.release_title) }}
{{ ui.line("File Size", release.total_size_bytes | filesize) }}
{{ ui.line("Total Duration", release.total_duration_ms | duration_ms) }}
{% if metadata_movie %}
{{ ui.section("METADATA") }}


{{ ui.line("Official Title", metadata_movie.title) }}
{{ ui.line("IMDb ID", metadata_movie.imdb_id) }}
{{ ui.line("IMDb URL", metadata_movie.external_url) }}
{{ ui.line("Genres", metadata_movie.genres | join(", ")) }}
{{ ui.line("Runtime", (metadata_movie.runtime_minutes ~ " min") if metadata_movie.runtime_minutes else none) }}

{% if metadata_movie.overview %}
{{ ui.section("OVERVIEW") }}


{{ metadata_movie.overview }}
{% endif %}
{% endif %}
{% if release.subtitle_summary_lines %}
{{ ui.section("SUBTITLES") }}



{{ "- " ~ (release.subtitle_summary_lines | join("\n- ")) }}
{% endif %}
{% set movie = episodes[0] if episodes else none %}
{% if movie %}
{{ ui.section("FILE") }}
{{ ui.line("File", movie.file_name) }}
{{ ui.line("Size", movie.size_bytes | filesize) }}
{{ ui.line("Duration", movie.duration_ms | duration_ms) }}
{{ ui.line("Overall Bitrate", movie.overall_bitrate_kbps | bitrate_kbps) }}
{{ ui.line("Resolution", movie.resolution) }}
{{ ui.line("Aspect", movie.aspect_ratio_display) }}
{{ ui.line("Video", movie.video_codec) }}
{{ ui.line("HDR", movie.hdr_display) }}
{{ ui.line("Encode Settings", movie.video_encoding_settings) }}

{% for track in movie.video_tracks %}
{{ ui.track_section("VIDEO TRACK", track.display_id) }}
{{ ui.format_and_codec(track.format_name, track.codec) }}
{{ ui.stream_size(track.size_bytes, track.size_percent) }}
{{ ui.line("Bitrate", track.bitrate | bitrate) }}
{{ ui.line("Bit Depth", track.bit_depth | bitdepth) }}
{{ ui.line("FPS", track.frame_rate | fps) }}

{% endfor %}
{% for track in movie.audio_tracks %}
{{ ui.track_section("AUDIO TRACK", track.display_id) }}
{{ ui.line("Language", track.language_display) }}
{{ ui.line("Language Tag", track.language_short.upper() if track.language_short else none) }}
{{ ui.format_and_codec(track.format_name, track.codec) }}
{{ ui.line("Channels", track.channels) }}
{{ ui.stream_size(track.size_bytes, track.size_percent) }}
{{ ui.line("Bitrate", track.bitrate | bitrate) }}
{{ ui.line("Title", track.title) }}
{{ ui.line("Default", ui.yesno(track.is_default)) }}

{% endfor %}
{% for track in movie.subtitle_tracks %}
{{ ui.track_section("SUBTITLE TRACK", track.display_id) }}
{{ ui.line("Language", track.language_display) }}
{{ ui.line("Language Tag", track.language_short.upper() if track.language_short else none) }}
{{ ui.line("Variant", track.subtitle_variant) }}
{{ ui.format_and_codec(track.format_name, track.codec) }}
{{ ui.stream_size(track.size_bytes, track.size_percent) }}
{{ ui.line("Bitrate", track.bitrate | bitrate) }}
{{ ui.line("Title", track.title) }}
{{ ui.line("Default", ui.yesno(track.is_default)) }}
{{ ui.line("Forced", ui.yesno(track.is_forced)) }}

{% endfor %}
{% endif %}